.cert {
  height: 85vh;
  background: url("./cert2.jpg") no-repeat;
  background-size: cover;
  margin-left: 150px;
}

.pc {
  width: 200vh;
  background: url("b3.jpg") no-repeat;
  background-size: cover;
}
#fname {
  font-size: 30px;
  padding-top: 285px;
  padding-left: 520px;
}

#course {
  font-size: 23px;
  padding-top: 75px;
  margin-left: 625px;
  font-weight: bold;
}

#txh {
  padding-top: 75px;
  margin-left: 300px;
}

#id {
  margin-top: -21px;
  margin-left: 490px;
}

.btn {
  margin-top: 10px;
}

.btne {
  padding-top: 7px;
  margin-left: 600px;
}